{% extends 'base.html' %}

{% block title %}{{ user.username }}'s' Blogs{% endblock title %}

{% block content %}
<h1 class="mb-3 text-center">Posts by '{{ user.username }}'</h1>
<div class="g-5 pt-4">
  <div class="container col-md-8">
    
    {% for post in posts %}
    <article class="blog-post">
      <h2 class="blog-post-title mb-1">
        <a
          class="text-decoration-none text-dark"
          href="{{ post.get_absolute_url }}"
        >
          {{ post.title }}</a
        >
      </h2>
      
      <p class="blog-post-meta">
        {{ post.publish|date:'M j, o' }} by
        <a class="text-decoration-none text-secondary" href="#">{{ post.author }}</a>
      </p>
      <p>{{ post.body|truncatewords:30|linebreaks }}</p>
      <hr />
    </article>
    {% endfor %}

  </div>
  {% include 'pagination.html' with page=posts %}
</div>
{% endblock content %}
